<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New film</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css">
</head>
<body>
<header th:insert="~{blocks/header :: header}"></header>
<br>
<br>
<br>
<form th:method="POST" enctype="multipart/form-data" th:action="@{/films}" th:object="${film}" class="conteiner mt-2">
    <lable for="name">Enter title</lable>
    <input type="text" th:field="*{title}" id="title"/>
    <lable for="name">Enter description</lable>
    <input type="text" th:field="*{description}" id="description"/>
    <input type="file" name="file">
    <input type="submit" value="Create">
    <div style="color:red" th:if="${#fields.hasErrors('title')}" th:errors="*{title}">Title Error</div>
</form>
</body>
</html>