<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Film</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css">
</head>
<body>
<header th:insert="~{blocks/header :: header}"></header>
<br>
<br>
<div class="conteiner mt-2">
    <p th:text="${film.title}">VALUE</p>
    <p th:text="${film.id}">VALUE</p>
    <p th:if="${film.filename != null}"><img height=200 th:src="@{/img/{filename}(filename=${film.filename})}"></p>
    <p th:text="${film.description}">VALUE</p>
</div>
    <form th:action="@{/users/{filmId}/ratefilm(filmId=${film.getId()})}" method="post">
        <button type="submit" name="param" value="1">1</button>
        <button type="submit" name="param" value="2">2</button>
        <button type="submit" name="param" value="3">3</button>
        <button type="submit" name="param" value="4">4</button>
        <button type="submit" name="param" value="5">5</button>
        <button type="submit" name="param" value="6">6</button>
        <button type="submit" name="param" value="7">7</button>
        <button type="submit" name="param" value="8">8</button>
        <button type="submit" name="param" value="9">9</button>
        <button type="submit" name="param" value="10">10</button>
    </form>
    <form th:action="@{/films/{id}/edit(id=${film.getId()})}" method="get">
        <button type="submit">Edit</button>
    </form>
    <form th:action="@{/films/{id}/delete(id=${film.getId()})}" method="post">
        <button type="submit">Delete</button>
    </form>
    <form th:action="@{/films}" method="get">
        <button type="submit">Back</button>
    </form>
    <form th:method="POST" th:action="@{/users/{id}/addtowatchedlist(id=${film.getId()})}" class="conteiner mt-2">
        <input type="submit" value="Add film">
    </form>
    <form th:method="POST" th:action="@{/users/{id}/deletefromwatchedlist(id=${film.getId()})}" class="conteiner mt-2">
        <input type="submit" value="Delete film">
    </form>
<br/>
<hr/>
<div th:if="${comments}" class="conteiner mt-2" th:each="comment: ${comments}">
    <p th:text="${comment.message}">VALUE</p>
    <p th:text="${comment.author.getUsername}">VALUE</p>
    <hr/>
</div>
<br/>
<hr/>
<form th:method="POST" th:action="@{/films/{id}/addmessage(id=${film.getId})}" class="conteiner mt-2">
    <input type="text" name="message" placeholder="Type message" />
    <input type="submit" value="Create">
</form>
</div>
</body>
</html>