<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Film</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css">
</head>
<body>
<header th:insert="~{blocks/header/header :: header}"></header>
<br>
<br>
<div class="conteiner mt-2">
    <p th:text="${film.title}">VALUE</p>
    <p th:text="${film.id}">VALUE</p>
    <p th:if="${film.filename != null}"><img height=200 th:src="@{/img/{filename}(filename=${film.filename})}"></p>
    <p th:text = ${film.showRating}>VALUE</p>
    <span th:each="genre: ${genres}">
        <span th:text="${genre}"></span>
        <span th:if="${!genreStat.last}">, </span>
    </span>
    <p th:text="${film.description}">VALUE</p>
</div>
    <form th:action="@{/users/{filmId}/rate_film(filmId=${film.getId()})}" method="post">
        <button type="submit" name="param" value="1">1</button>
        <button type="submit" name="param" value="2">2</button>
        <button type="submit" name="param" value="3">3</button>
        <button type="submit" name="param" value="4">4</button>
        <button type="submit" name="param" value="5">5</button>
        <button type="submit" name="param" value="6">6</button>
        <button type="submit" name="param" value="7">7</button>
        <button type="submit" name="param" value="8">8</button>
        <button type="submit" name="param" value="9">9</button>
        <button type="submit" name="param" value="10">10</button>
    </form>
    <p th:if="${mark} != -1" th:text="'Your mark: ' + ${mark}"></p>
    <form th:if="${isUserAdmin}" th:action="@{/films/{id}/edit(id=${film.getId()})}" method="get">
        <button type="submit">Edit</button>
    </form>
    <form th:if="${isUserAdmin}" th:action="@{/films/{id}/delete(id=${film.getId()})}" method="post">
        <button type="submit">Delete</button>
    </form>
    <form th:action="@{/films}" method="get">
        <button type="submit">Back</button>
    </form>
    <form th:method="POST" th:if="${!isWatched}" th:action="@{/users/{id}/add_to_watched_list(id=${film.getId()})}" class="conteiner mt-2">
        <input type="submit" value="Add film">
    </form>
    <form th:method="POST" th:if="${isWatched}" th:action="@{/users/{id}/delete_from_watched_list(id=${film.getId()})}" class="conteiner mt-2">
        <input type="submit" value="Delete film">
    </form>

    <form th:method="POST" th:if="${!isPlaned && !isWatched}" th:action="@{/users/{id}/add_to_planed_list(id=${film.getId()})}" class="conteiner mt-2">
        <input type="submit" value="Add film to plan">
    </form>
    <form th:method="POST" th:if="${isPlaned && !isWatched}" th:action="@{/users/{id}/delete_from_planed_list(id=${film.getId()})}" class="conteiner mt-2">
            <input type="submit" value="Delete film from plan">
    </form>
<br/>
<hr/>
<div th:if="${comments}" class="conteiner mt-2" th:each="comment: ${comments}">
<!--    <p th:text="${comment.author.getUsername}">VALUE</p>-->
    <a th:href="@{/users/{id}(id=${comment.author.getId()})}" th:text="${comment.author.getUsername}">VALUE</a>

<!--    DELETE/EDIT COMMENT-->
<!--    <form th:if="${isUserAdmin}" th:action="@{/films/{id}/edit_comment(id=${film.getId()})}" method="get">-->
<!--        <button type="submit">Edit comment</button>-->
<!--    </form>-->
    <form th:if="${isUserAdmin or comment.getAuthor().getId() == user.getId()}" th:action="@{/films/{filmId}/delete_comment/{commentId}(filmId=${film.getId()}, commentId=${comment.getId()})}" method="post" class="conteiner mt-2">
        <button type="submit">Delete comment</button>
    </form>

    <p th:text="${comment.message}">VALUE</p>
    <hr/>
</div>
<br/>
<hr/>
<form th:method="POST" th:action="@{/films/{id}/add_comment(id=${film.getId})}" class="conteiner mt-2">
    <input type="text" name="message" placeholder="Type message" />
    <input type="submit" value="Create">
</form>
</div>
</body>
</html>